.container_screen{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: in 1.5s;
}
@keyframes in{
    from{opacity: 0;}
    to{opacity: 1;}
}
.container_login{
    display: flex;
    height: 50%;
    width: 20%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: rgb(207, 206, 206); */
    min-width: 350px ;
    padding: 15px;
    border-radius: 10px;
}

.container_login p{
    color: rgb(89, 148, 201);
    font-size: 60px;
    font-weight: bold;
}

.container_login span{
    font-weight: 200;
    font-style: italic;
    color: orange;
}

.toast{
    color: #FFF;
    height: 40px;
    background: rgb(179, 68, 68);
}
/* .body_toast{
    background: rgb(211, 114, 122);
} */
.toast_progress{
    background: rgb(207, 160, 160);
}

.container_inputs{
    flex: 1;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

}


.container_inputs input{
    /* padding: 10px 5px; */
    /* margin: 10px; */
    border-radius: 10px;
    border: none;
    font-size: 20px;

}

.container_inputs button{
    color: #FFF;
    background: rgb(89, 148, 201);
    padding: 10px;
    margin: 60px 0 0 0 ;
    border: none;
    border-radius: 10px;
}

.container_inputs button:hover{
    cursor: pointer;
    opacity: 0.8;
}

#cadastrar{
    font-size: 15px;
}
#signUp{
    color: black;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}
#signUp:hover{
    cursor: pointer;
}

.edit_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes show{
    from{transform: translateY(-100vh);}
    to{transform: translateY(0);}
}


#div_modal{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 40%;
    min-width: 300px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    animation: show 1s;

}
#div_modal h2{
    margin: 5px;
}
#div_modal input{
    /* width: 90%; */
    flex: 1;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
#div_btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#div_modal button{
    flex: 1;
    margin: 5px;
    padding: 5px;

}

#salvar{
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}

#cancelar{
    background: transparent;
    color: red;
    border: none;
    cursor: pointer;
}