.container_tasks{
    overflow: auto;

}
#card_task{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid #c2bcbc;
    border-radius: 10px;
    animation: slideIn 1s;
    align-items: center;
}
@keyframes slideIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

#card_task div{
    flex:1;
}
#div_add{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    max-width: 150px;
    background: rgb(89, 148, 201);
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    color: #FFF;
    
}
#div_add:hover{
    cursor: pointer;
    opacity: 0.8;
}
#editIcon{
    color: blue;
    margin-right: 20px;
}
#deleteIcon{
    color: red;
}

#editIcon:hover{
    cursor: pointer;
}

#deleteIcon:hover{
    cursor: pointer;
}

.edit_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#div_modal{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 40%;
    min-width: 300px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    animation: show 1s;
    justify-content: space-around;

}
#div_modal h2{
    margin: 5px;
}
#div_modal input{
    /* width: 90%; */
    flex: 1;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
#div_btn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

#div_modal button{
    /* flex: 1; */
    margin: 5px;
    padding: 5px;

}

#salvar{
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
}

#cancelar{
    background: transparent;
    color: red;
    border: none;
    cursor: pointer;
}

#div_modal_delete{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 40%;
    min-width: 300px;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    animation: show 1s;
    justify-content: space-around;
    text-align: center;
}

#remove{
    font-weight: bold;
    color: red;
    padding: 10px;
    background: transparent;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;
}

#cancel{
    font-weight: bold;
    color: grey;
    padding: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#info_card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width:600px){
    #info_card{
        flex-direction: column;
    }
}

#info_card div{
    margin-top: 10px;
    display: flex;
}
#info_card p{
    font-weight: bold;
    color: #000;
    
}
#data_entrega{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}